.tabela_lista{
    width: 100%;
    border-collapse: collapse;
    th, td {
        border: 1px solid black;
    }

    th {
        background-color: rgb(201, 202, 202);
    }
}

.colunaID {
    text-align: center;
    color: blue;
}

.dadosColunaID {
    text-align: center;
    color: blue;
}

tr:hover{
    background-color: rgb(156, 224, 224);
}

.tr_destaque{
    background-color: rgb(238, 228, 137);
}

